version: "2"

services:
  db:
    image: mysql
    environment:
      MYSQL_ROOT_PASSWORD: "fourWinsPwd"
    volumes:
      - "./mysql:/docker-entrypoint-initdb.d"
    ports:
      - "3306:3306"

  grafana:
    image: grafana/grafana
    environment:
      GF_SECURITY_ADMIN_USER: admin
      GF_SECURITY_ADMIN_PASSWORD: anafarg
    ports:
      - "3000:3000"
    volumes:
      - "./grafana/datasources:/etc/grafana/provisioning/datasources"
      - "./grafana/dashboards:/etc/grafana/provisioning/dashboards"
      - "./grafana/dashboards:/var/lib/grafana/dashboards"
      - "./grafana/plugins:/var/lib/grafana/plugins"

  fourwinsserver: 
    image: fiduciagad/fourwins
    environment:
      DATABASE_URL: "jdbc:mysql://db:3306/4WINS"
      DATABASE_USER: "forwins_write"
      DATABASE_PASSWORD: "fourwinswrite"
    ports: 
      - "4446:4446/udp"

